# Configuración para la conexión a la base de datos PostgreSQL

# El nombre de usuario para conectar a la base de datos.
DB_USER=postgres

# La contraseña para el usuario de la base de datos.
DB_PASSWORD=CONTRASEÑA

# La dirección del servidor de la base de datos.
DB_HOST=localhost

# El puerto en el que la base de datos está escuchando.
DB_PORT=5432

# El nombre de la base de datos a la que se conectará la aplicación.
DB_NAME=fluxo_db

# Define el modo de conexión SSL.
# Para desarrollo local, 'disable' es lo más común. En producción, podrías usar 'require'.
DB_SSLMODE=disable

# El modo de ejecución para el framework Gin. Usa 'debug' para desarrollo y 'release' para producción.
GIN_MODE=debug

# El puerto en el que correrá el servidor. En producción, la plataforma de hosting puede asignar esto.
PORT=8080

# El dominio del frontend que tiene permiso para hacer peticiones a esta API.
# En producción, cámbialo a la URL de tu aplicación, ej: https://www.tu-sitio.com
CORS_ALLOWED_ORIGIN=http://127.0.0.1:5500